// CARDS ESCUELA
.card-container {
    position: relative;
    width: 18rem;
    perspective: 200rem;
    height: 276px;

    &:hover .card-front {
        transform: rotateY(180deg);
    }

    &:hover .card-back {
        transform: rotateY(0deg);
    }

    .card {
        position: absolute;
        height: 100%;
        width: 100%;
        transition: all 0.9s;
        backface-visibility: hidden;
        background-color: rgb(16, 112, 245);
        color: map-get($palette, "blanco");
        border-radius: 13px;
        border: 2px solid rgb(0, 183, 255);
    }

    .card-back {
        transform: rotateY(180deg);
    }

    .card-front {
        height: 288px;
        overflow-y: hidden;
    }
}

.btn {
    background-color: map-get($palette, "blanco");
    color: rgb(16, 112, 245);
    font-weight: bold;

    &:hover {
        background-color: map-get($palette, "whatsapp");
    }
}

.btn-ig {
    background-color: map-get($palette, "blanco");
    color: rgb(16, 112, 245);

    &:hover {
        background: rgb(252, 176, 69);
        background: linear-gradient(90deg, rgba(252, 176, 69, 1) 0%, rgba(253, 29, 224, 1) 68%, rgba(77, 58, 180, 1) 100%);
        color: map-get($palette, "blanco");
    }

}

.card-title {
    text-align: center;
    margin: 15px;
    font-weight: bold;
    font-style: italic;
    font-size: 20px;
}