div {
    .formulario {
        width: 600px;
        background-color: map-get($palette, "fondoWeb");
        color: map-get($palette, "blanco");
        border-radius: 15px;
        -webkit-box-shadow: 0px 0px 13px 18px rgb(26, 82, 213);
        -moz-box-shadow: 0px 0px 13px 18px rgb(26, 82, 213);
        box-shadow: 0px 0px 13px 18px rgba(26, 82, 213, 0.971);
        padding: $medida-estandar+10;
        margin: $medida-estandar+10;
    }

    label {
        font-style: italic;
        padding: 5px;
    }

    input {
        font-family: $fuente-secundaria;
        font-style: italic;
    }

        button {
            background-color: map-get($palette, "fondoWeb");
            border-radius: 5px;
            border: none;
            padding: 5px;
            text-transform: uppercase;
            color: map-get($palette, "negro");
            font-weight: 700;

            &:hover {
                -webkit-box-shadow: 0px 0px 7px 10px rgb(26, 82, 213);
                -moz-box-shadow: 0px 0px 7px 10px rgb(26, 82, 213);
                box-shadow: 0px 0px 7px 10px rgba(26, 82, 213, 0.971);
                transition: 0.5s;
            }
        }
}

.logo-formulario {
    position: absolute;
}

legend {
    text-align: center;
}