// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) and (max-width: 768px) {
    .imagenes {
        width: 250px;
        height: 175px;
        object-fit: cover;
    }

    .texto {
        width: 500px;
    }

    header {
        position: relative;
        height: 50vh;        
    }

    nav {
        background-color: map-get($palette, "fondoWeb") !important;
        opacity: 1;
    }

    div {
        .formulario {
            width: 80vw;
        }   
    }

    .boton {
        display: none;
    }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 991px) {
    .imagenes {
        width: 600px;
        height: 400px;
        object-fit: cover;
    }

    header {
        position: relative;
        height: 50vh;        
    }

    nav {
        background-color: map-get($palette, "fondoWeb") !important;
        opacity: 1;
    }

    .texto {
        width: 600px;
    }

    .boton {
        display: none;
    }
}
// Large devices (desktops, 992px and up)
@media (min-width: 992px) and (max-width: 1199px) {
    .imagenes {
        width: 300px;
        height: 400px;
        object-fit: cover;
    }

    header {
        height: 50vh;        
    }

    main {
        width: 100vw;
    }
}

// X-Large devices (large desktops, 1200px and up)
@media (max-width: 1200px) {
    .imagenes {
        width: 500px;
        height: 300px;
        object-fit: cover;
    }

    header {
     height: 50vh;
    }

    body {
        width: 100vw;
    }

    .texto {
        width: 300px;
    }
}